.examples {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.examples_container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.examples_search_bar {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.examples_search_bar input {
    width: 80vh;
    height: 5vh;
    border-radius: 10px;
    border-width: 1px;
    border-color: #000000;
    border-style: solid;
    padding-left: 10px;
    background-color: #bee3f8;
}

.example_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin-top: 5vh;
    margin-left: 5vh;
}

.video_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    background-color: white;
    color: black;
    border-width: 1px;
    border-color: #000000;
    border-style: solid;
    border-radius: 10px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.video_wrapper iframe {
    width: 300px; /* dimensiuni inițiale */
    height: 200px;
    border-radius: 10px;
}

.video_wrapper.active {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 160vh;
    height: 80vh;
    z-index: 1000;
    background-color: white; 
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5); 
}

.video_wrapper.active iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.overlay-active .video_wrapper {
    opacity: 0.3;
}

.overlay-active .video_wrapper.active {
    opacity: 1;
    z-index: 1000; 
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dim background */
    z-index: 999;
    backdrop-filter: blur(5px); 
}