.video_section {
    display: flex;
    flex-direction: column;
    align-items: bottom;
    justify-content: center;
    margin-right: 2vw;
    height: 100%;
    width: 90%;
    margin-right: 1vw;  
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid black; 
    background: #b2d5e0;
}

.video_section_canvas{ 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video_controls{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 25px;
}

.video_time_bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: transparent !important;
    width: 100%;
    bottom: 0;
    margin-bottom: 10px;
    padding: 5px;
    gap: 5px;
}

.derulation_bar[type='range']{ 
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    outline: none;
    border: 1px solid black; 
    border-radius: 10px;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}


.derulation_bar::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background-color: #3297d2;
    border: 1px solid black; 
    border-radius: 50%;
    cursor: pointer;
    
}

.derulation_bar::-moz-range-thumb{
    width: 24px;
    height: 24px;
    background-color: red;
    border: 0;
    cursor: pointer;
}



.full_screen_button{
    background-color: #f1f1f1;
    width: 5vw;
    max-width: 20px;
    height: 5vh;
    max-height: 20px;
    border: none;
    cursor: pointer;
}
  
.skip_back_button{ 
    border-radius: 40% 0 0 40%;
}

.skip_forward_button{ 
    border-radius: 0 40% 40% 0;
}

.skip_back_button, .rewind_button,
.play_button, .pause_button,
.fast_forward_button, .skip_forward_button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    cursor: pointer;
    overflow: visible;
}

.full_screen_button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    cursor: pointer;
    overflow: hidden;
    background: none;
}
.svg_icon{
    width: 20px;
    height: 20px;
}

.tooltip {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    z-index: 10;
    pointer-events: none; /* pentru a nu bloca hover-ul */
    transition: opacity 0.3s ease;
}